@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger" style="border:1px solid red">
        <h2> Unique Number generation Error</h2>
        <hr />
        <h3>Unfortnately unique number has not been generated due to technical errors. Please try again.</h3>
    </div>
</body>
</html>
